/* universal styling */
body {
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

h2 {
  margin: 10px auto;
}

h4 {
  margin: 10px auto;
}


/* header styling */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: black;
  border-bottom: 1px solid seashell;
}

header img {
  height: 50px;
  padding-left: 10px;
}

header nav {
  padding-right: 10px;
}

header span {
  padding-left: 20px;
  text-decoration: underline;
}

header a {
  color: seashell;
}



/* main content */

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column wrap;
  margin: 0;
  padding-top: 70px;
}



/* mission content */

.mission-content {
  background-image: url(../images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  display: flex;
  align-items: center;
}

.mission {
  background-color: black;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  justify-content: space-between;
}



/* featured tea */

.featured-content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 1000px;
}

.featured.title {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.featured.teas {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.tea {
  text-align: center;
}

.tea img {
  height: 200px;
  width: 300px;
  margin: 10px 15px;
}



/* locations section */

.locations-content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-image: url(../images/img-locations-background.jpg);
  width: 1200px;
  height: 500px;
}

.locations {
  display: flex;
  flex-flow: row wrap;
  margin: 5px auto;
}

.location {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  width: 300px;
  background-color: black;
  text-align: center;
  opacity: 1;
  margin: 0 20px;
}













/* end css */
