/* universal styling */
body {
  margin: 0;
  font-family: Helvetica;
  color: seashell;
  background-color: black;
  font-size: 22px;
  text-align: center;
}

h2, h3, h4 {
  margin: 0;
  padding: 10px;
}

a {
  color: seashell;
}



/* .flex-container */
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


/* header & nav styling */

header {
  width: 100%;
  height: 69px;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid seashell;
  align-items: center;
  background-color: black;

}

header img {
  height: 50px;
  padding-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}



/* main content */

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column wrap;
  margin: 0;
  padding-top: 70px;
  position: relative;
}



/* mission content */

.mission-content {
  background-image: url(../images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  display: flex;
  align-items: center;
}

.mission {
  background-color: black;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  justify-content: space-between;
}



/* featured tea */

.featured-content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 1000px;
}

.featured.title {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.featured.teas {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.tea {
  text-align: center;
}

.tea img {
  height: 200px;
  width: 300px;
  margin: 10px 15px;
}



/* locations section */

.locations-content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-image: url(../images/img-locations-background.jpg);
  width: 1200px;
  height: 500px;
}

.locations {
  display: flex;
  flex-flow: row wrap;
  margin: 5px auto;
}

.location {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  width: 300px;
  background-color: black;
  text-align: center;
  opacity: 1;
  margin: 0 20px;
}

.location span {
  margin: 20px auto;
}



/* footer styling */

footer {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

.info {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  height: 200px;
}

.copy {
  align-self: flex-start;
  text-align: left;
  padding-left: 20px;
}









/* end css */
